/* Element selector */
p{
    border: 2px solid red;
}

/* Id Selector */
 #firsPara{ 
    color: green;
}
/* Class selector */
.bgBlue{
    background-color: blue;
    color: yellow;
}
/* Grouping selector */
footer, span{
    background-color: pink;
    
    
}